@model EjemploMVC.Models.CategoriaModel
@{
    ViewData["Title"] = "editarCategoria";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<h1>editarCategoria</h1>



@using (Html.BeginForm("editarCategoria", "Figura", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.Id)
            <div>
                @Html.LabelFor(d => d.Nombre)
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Id)
                @Html.TextBoxFor(d => d.Id, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Id, null, new { @class = "red" })
            </div>
   
            <br />
            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>

    </div>
}
